# Entorno y Tokens
.env
**/__pycache__/
*.pyc

# Resultados y Datos (Pesados)
Herramientas/resultados/
Herramientas/descargas_tweets/
Herramientas/descargas_tiktok/
**/temp/

# Archivos de sistema
.DS_Store
Thumbs.db
