# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Playwright / Browser Data
user_data/
test-results/

# Project Data
results.csv

# OS
.DS_Store
Thumbs.db
